body {
  font-family: Inter;
  color: white;
  background-position: center;
  background-size: cover;
}

p, h2, h3 {
  margin: 0;
}

.green-highlight {
  color: #38FAC4;
  font-weight: 800;
}

a {
  text-decoration: none;
}

b {
  font-weight: 800;
}

@keyframes popup {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  70% {
    opacity: 0.2;
  }
  100% { }
}

.grid-box {
  background-color: #1E1E1E;
  border: solid 3px #1E1E1E;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 9px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 187px;
  width: 1fr;
  flex-direction: column;
  font-family: Montserrat;
}

.grid-box.blur {
  background-color: #1E1E1EB0;
}


.grid-box .title {
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  font-weight: 800;
}

.grid-box .date {
  margin-top: 8px;
  color: #38FAC4;
  font-size: 16px;
  line-height: 20.5px;
  text-align: center;
  font-weight: 700;
}

.grid-box .note {
  opacity: 0.6;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  font-weight: 600;
}

@media screen and (max-width: 900px) {

  .section1 {
    height: fit-content !important;
  }

  .section3 {
    height: fit-content !important;
  }

  .section3 a {
    width: 100% !important;
  }

  .section3 br {
    content: '';
  }

  .section3 br::after {
    content: ' ';
  }

  .section4 {
    height: fit-content !important;
    padding: 20px 0;
  }

  .section4 img {
    display: none;
  }
  

  .section5 {
    padding: 0 40px;
  }

  .section5 a {
    width: 100% !important;
  }

  .section5 br {
    content: '';
  }

  .section5 br::after {
    content: ' ';
  }

  .section5 img {
    display: none;
  }

  .section6 br {
    content: '';
  }

  .section6 br::after {
    content: ' ';
  }

  .section6 div {
    gap: 40px !important;
  }

  .section6 div img {
    width: 35vw;
  }

  .column-on-mobile {
    flex-direction: column;
    gap: 70px;
  }

  .grid {
    grid-template-columns: repeat(2, 210px) !important;
  }

  .vs {
    transform: scale(0.4);
    margin: -200px 0;
  }

  .footer {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .footer br {
    display: none;
  }
}